// File Name: _header.scss
// Description: global header styles
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------
header{
	background-color:white;
	text-align:center;
	color:grey;
	font-size:20px;
	padding-top: 10px;
	padding-bottom: 10px;
}