// File Name: _home.scss
// Description: adds blue theme colors to modules
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------
body{
	background:url(https://68.media.tumblr.com/1ee5fdd710cca6842364275059b16778/tumblr_nokv14pTiX1upzsrdo1_1280.jpg);
	background-size:400px auto;
	background-position:right bottom;
	background-repeat:no-repeat;
	min-height:100vh;
}